<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>画布</title>
    <script src="class.canvas.js"></script>
</head>
<style>
    canvas{
        border: 1px solid #000;
    }
    .box{
		width:300px;
		height: 15px;
		border: 1px solid #25b25e;
		position: relative;
		margin-top: 3px;
		display: inline-block;
	}
	.son{
		width: 0%;
		height: 100%;
		background-color: #25B25E;
		position: absolute;
		left: 0;
		top: 0;
		text-align: center;
		color: #000;
		font-size: 12px;
	}
</style>
<body>
<!--画布的意思-->
<!--只能画矩形-->
  	<canvas width="1364" height="500"></canvas>
  	<br />
  	<input type="file" />
	<div class="box">
		<div class="son"></div>
	</div>
  <br />
  <button class="btn">返回</button>
  <input type="button" value="矩形" id="rect"/>
  <input type="button" value="线条" id="line"/>
  <input type="button" value="圆" id="arc"/>
  <input type="button" value="多边形" id="poly"/>
  <input type="button" value="文字" id="letter"/>
  <input type="button" value="擦除" id="eraser"/>
  <input type="color" />
</body>
</html>
<script>

	//  paint,.getImageData(0,0,100,100)
	//  path
	//	paint.arc() 圆心坐标x,圆心坐标y，半径r, 开始角度，结束角度 ,逆时针true
	//	ran=360/n
	//	x+Math.sin((i*ran+45)*Math.PI/180)*r
	//	y+Math.cos((i*ran+45)*Math.PI/180)*r
  var canvas=document.querySelector('canvas');
//  var aa=new Canvas(canvas)
    var paint=canvas.getContext('2d'); 
    var imgdata=paint.getImageData(0,0,canvas.width,canvas.height);
    let arr=[];
    let type="ctx";
    let color="#000";
    canvas.onmousedown=function (e){
        let x=e.offsetX;
        let y=e.offsetY;
        let last = [x, y];
        paint.beginPath();
        paint.arc(x,y,5,0,Math.PI*2,false);
        paint.closePath();
        paint.fill();
        this.onmousemove=function (e) {
        	let ox=e.offsetX;
            let oy=e.offsetY;
            let width=ox-x;
            let height=oy-y;
            let now = [ox, oy];
        	if(type=="eraser"){
                paint.save()
                paint.beginPath()
                paint.arc(ox,oy,5,0,2*Math.PI);
                paint.clip();
                paint.clearRect(0,0,canvas.width,canvas.height);
                paint.restore();
	        }else{
//        	    paint.clearRect(0,0,canvas.width,canvas.height);
        	    if(arr.length>=1){
	            	paint.putImageData(arr[arr.length-1],0,0);
	            }
	        }
//          paint.strokeRect(x,y,width,height)
			switch (type){
				case "rect":
					paint.fillRect(x,y,width,height);
//					paint.strokeRect(x,y,width,height);
					var linear=paint.createLinearGradient(x,y,ox,y);
					linear.addColorStop(0,"red");
					linear.addColorStop(0.2,"#ff6700");
					linear.addColorStop(0.4,"yellow");
					linear.addColorStop(0.6,"#25e25b");
					linear.addColorStop(0.8,"blue");
					linear.addColorStop(1,"purple");
					paint.fillStyle=linear;
					break;
				case "line":

					paint.beginPath();
					paint.lineWidth=10;
					paint.strokeStyle=color; // 红色路径
					paint.moveTo(last[0],last[1]);
					paint.lineTo(now[0],now[1]);
					paint.closePath();
					paint.stroke(); // 进行绘制
                    last = now;
					break;
				case "arc":
					paint.beginPath();
					let r=Math.sqrt(Math.pow(width,2)+Math.pow(height,2));
					paint.arc(x,y,r,0,Math.PI*2,false);
					var radial=paint.createRadialGradient(x,y,0,x,y,r);
//					var radial=paint.createRadialGradient(50,50,0,50,50,50);
//					radial.addColorStop(0,"red");
//					radial.addColorStop(0.2,"#ff6700");
//					radial.addColorStop(0.4,"yellow");
//					radial.addColorStop(0.6,"#25e25b");
//					radial.addColorStop(0.8,"blue");
//					radial.addColorStop(1,"purple");
					radial.addColorStop(0.025, '#CCC');
					radial.addColorStop(0.1, 'hsl(' + 217 + ', 61%, 33%)');
					radial.addColorStop(0.25, 'hsl(' + 217 + ', 64%, 6%)');
					radial.addColorStop(1, 'transparent');
					paint.fillStyle=radial;
//					paint.shadowOffsetX=0;
//					paint.shadowOffsetY=0;
//					paint.shadowBlur=5;
//					paint.shadowColor="red";
//					paint.closePath();
					paint.fill();
					break;
				case "poly":
					var n=6;
					var ran = 360/n;
					var rn=Math.sqrt(Math.pow(width,2)+Math.pow(height,2));
					paint.beginPath();
					for(var i=0;i<n;i++){
						paint.lineTo(x+Math.sin((i*ran+45)*Math.PI/180)*rn,y+Math.cos((i*ran+45)*Math.PI/180)*rn)
					}					
					paint.closePath();
					paint.fillStyle=color;
					paint.fill();
					break;
			}
        }
        this.onmouseup=function () {
            this.onmousemove=null;
            if(type=="letter"){
            	var pro=prompt();
            	paint.font="30px";
            	paint.fillText(pro,x,y);
            }
			imgdata=paint.getImageData(0,0,canvas.width,canvas.height)
			arr.push(imgdata)
        }
    }
    let btn =document.querySelector(".btn");
    document.querySelector("input[type=color]").onchange=function(){
    	color=this.value;
    };
    let butt=document.querySelectorAll("input[type=button]");
    btn.onclick=function(){
    	arr.pop();
    	if(arr.length<1){
    		alert("不能再退了！");
    		paint.clearRect(0,0,canvas.width,canvas.height);
    	}else{
    		paint.putImageData(arr[arr.length-1],0,0);
    	}
    }
    for(var j =0;j<butt.length;j++){
    	butt[j].index = j;
    	butt[j].style.border="2px solid #fff";
    	butt[j].onclick=function(){
    		for(var k =0;k<butt.length;k++){
    			butt[k].style.border="2px solid #fff";   			
    		}
    		butt[this.index].style.border="2px solid red";
    		type=butt[this.index].id;
    	}
    }
    
</script>